<div id='app'>
  <div id='hero'></div>
</div>

<style>
  #app {
    overflow: hidden;
    touch-action: pan-up;
    user-select: none;
    position: fixed;
    height: 100vh;
    width: 100%;
  }

  #app canvas {
    display: block;
    position: fixed;
    z-index: -1;
    inset: 0;
  }
</style>

<script>
  import { baseUrl } from '@/utils/functions';
  import { butterfliesBackground } from '@/utils/threejs-toys.module.cdn.min.js';

  const pc = butterfliesBackground({
    el: document.getElementById('app'),
    eventsEl: document.body,
    gpgpuSize: 96,
    background: 0xffffff,
    material: 'basic',
    materialParams: { transparent: true, alphaTest: 0.5 },
    texture: baseUrl('/assets/butterflies.webp'),
    textureCount: 4,
    wingsScale: [1, 1, 1],
    wingsWidthSegments: 8,
    wingsHeightSegments: 8,
    wingsSpeed: 0.75,
    wingsDisplacementScale: 1.25,
    noiseCoordScale: 0.01,
    noiseTimeCoef: 0.0005,
    noiseIntensity: 0.0025,
    attractionRadius1: 100,
    attractionRadius2: 150,
    maxVelocity: 0.1
  });
</script>
