---
const arrayCards = [
  {
    title: 'Slideshow',
    web: 'https://d960960gm.wixsite.com/slideshow',
    localImage: '/assets/slideshows.avif',
    id: '001'
  },
  {
    title: 'Simple Multilingual Site',
    web: 'https://d960960gm.wixsite.com/velo-multi-box-state/es',
    localImage: '/assets/simple-multilingual-site.avif',
    id: '002'
  },
  {
    title: 'Using Usercentrics cookie banner',
    web: 'https://d960960gm.wixsite.com/usercentrics-banner',
    localImage: '/assets/using-usercentrics-cookie-banner.avif',
    id: '003'
  },
  {
    title: 'Practicing Wix Prox galley',
    web: 'https://d960960gm.wixsite.com/wix-pro-gallery/collage',
    localImage: '/assets/wix-pro-gallery-practice.avif',
    id: '004'
  },
  {
    title: 'Pagination and Filters',
    web: 'https://d960960gm.wixsite.com/pagination/recipes',
    localImage: '/assets/pagination-and-filters.avif',
    id: '005'
  },
  {
    title: 'Using the rich text input element to collect content from site visitors',
    web: 'https://d960960gm.wixsite.com/rich-text-input/',
    localImage: '/assets/rich-text-input-to-collect-content.avif',
    id: '006'
  },
];
---

<section class='am-container-cards'>
  {arrayCards.map(({ id, localImage, web, title }) => <aside class='card' />)}
</section>

<style>
  .am-container-cards {
    min-height: 100vh;
    display: grid;
    padding: 2.2vmax;
    gap: 2.2vmax;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17vmax, 1fr));
  }
</style>
